{% extends "base_navbar.html" %}
{% block title %} Some Page - Edit me {% endblock title %}
{% block main %}

                <main>
                    <div class="container-fluid px-4">
                        <h1 class="mt-4">AJust edit me, I'm a header</h1>
                        {% comment %} <ol class="breadcrumb mb-4">
                            <li class="breadcrumb-item active">Dashboard</li>
                        </ol> {% endcomment %}

                    </div>
                </main>

{% endblock main %}