{% extends "base_navbar.html" %}
{% block title %} Some Page - Edit me {% endblock title %}
{% block main %}

                <main>
                    <div class="container-fluid px-4">
                    <form method= "POST">
                        {% csrf_token %}
                        <div class="container mt-5">
                            <h4 class="mb-2">Student Offense Form</h2>
                            <form>
                          <div class="form-group mb-3">
                            <label for="studentName">Student Name</label>
                            <input type="text" class="form-control" id="studentName" placeholder="Enter student name" required name="name">
                          </div>
                          <div class="form-group mb-3">
                            <label for="matricNumber">Matric Number</label>
                            <input type="text" class="form-control" id="matricNumber" placeholder="Enter matric number" required name="matric">
                          </div>
                          <div class="form-group mb-3">
                            <label for="department">Department</label>
                             <select class="form-select" id="departmentSelect" name="department" required>
                              <option selected>Select Department</option>
                              <option>Mathematical and Computer Science</option>
                              <option>Nursing</option>
                              <option>Mass Communication</option>
                              <option>Public Health</option>
                              <option>Medical Laboratory Sciences</option>
                              <option>Environmental Health Sciences</option>
                              <option>LAW</option>
                              <option>Business Administration</option>
                              <option>Political Sciences</option>
                              <option>Economics</option>
                              <option>Banking and Finance</option>
                              <option>Accounting</option>
                              <option>Sociology</option>
                              <option>Linguistic</option>
                              <option>Arabic</option>
                              <option>History and International Studies</option>
                              <option>Islamic Studies</option>
                              <option>English</option>
                              <option>French</option>
                            </select>
                          </div>
                          <div class="form-group mb-3">
                            <label for="level">Level</label>
                            <select class="form-select" id="levelselect" name="level" required>
                              <option selected>Select Level</option>
                              <option>100</option>
                              <option>200</option>
                              <option>300</option>
                              <option>400</option>
                              <option>500</option>
                            </select>   
                          </div>
                          <div class="form-group mb-3">
                            <label for="offenseStatement">Offense Statement</label>
                            <textarea class="form-control" id="offenseStatement" rows="4" placeholder="Describe the offense" required name="offense"></textarea>
                          </div>
                          <div class="form-group mb-3">
                            <label for="offenseStatement">Comment</label>
                            <textarea class="form-control" id="comment" rows="4" placeholder="Add Comment" required name="notes"></textarea>
                          </div>
                          <button type="submit" class="btn btn-success">Submit</button>
                        </form>
                    </div>
                </main>

{% endblock main %}